/* .main-container {
    background-image: url('https://t3.ftcdn.net/jpg/05/35/13/82/360_F_535138292_62ZnI4Hcw37J8Jaeg4E9TzJwUciCwSnp.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
} */

.login-main-container{

    box-shadow: 0 0 5px rgb(140, 208, 247);
     /* width:800px; */
    /* height:400px;  */
    margin: 0 auto;
    border-radius: 10px;
    background-color: white;

}

.inputfield{
    width:500px;
    
}

.login-img{
    height:380px;
}

.btn-login{
    display: block;
    margin: 0 auto;
    background-color: rgb(10, 123, 157);
    padding: 7px 10px;
    color: #fff;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 4px;
   
}

.login-form{
    /* padding:50px; */
}

@media screen and (max-width:768px) {

    .login-img{
        display: block;
        margin: 0 auto;
        height:300px;
    }

    .login-form{
        display: block;
        margin: 10px;
        padding: 20px;
    }

    .login-heading{
        text-align: center;
    }

    
}