.logo {
    font-size: 20px;
    text-decoration: none;
    color: #fff;

}

.navbar-main-container {
    background-color: rgb(9, 73, 112);
    display: flex;
    justify-content: space-between;

}

.nav-links {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-size: 20px;
}


@media screen and (max-width:768px) {

    .navbar-main-container {
        flex-direction: column;

    }

    .nav-link-container {
        display: flex;
        flex-direction: column;
        /* justify-content: start; */
     
    }

    .nav-links{
        margin: 10px 10px;
    }

}