.logo {
    font-size: 20px;
    text-decoration: none;
    color: #fff;

}

.navbar-main-container {
    background-color: rgb(13, 104, 152);
    display: flex;
    position: sticky;
    top:0px;
    color:white;
    justify-content: space-between;
    z-index: 1;

}

/* .bg-navbar{

    background-color: rgb(13, 104, 152);
    color: white;

} */

.nav-links{
    color: #fff;
    margin-left: 35px;
    text-decoration: none;
    font-size: 20px;
}


@media screen and (max-width:768px) {

    .navbar-main-container {
        flex-direction: column;

    }

    .nav-link-container {
        display: flex;
        flex-direction: column;
        /* justify-content: start; */
     
    }

    .nav-links{
        margin: 10px 10px;
    }

}